

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  width: 100%;
  height: 1000px;
  background-image: url(../assets/images/IMG-20241015-WA0012.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size:cover;
}
.header-content{
  position: absolute;
  position: sticky;
  top: 30%;
  left: 50%;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.header-content h1{
  margin: auto;
  font-size: 7em;
  color: antiquewhite;
}

.header-content p{
  color: antiquewhite;
  font-size: 2em;
  padding-left: 25px;
}
.first-section{
  width: 50%;
  margin: auto;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
}
.first-section-title{
  font-size: 3em;
  color: dimgrey;
}
.first-section-title i{
  font-size: 2rem;
}
.first-section p{
  color: dimgrey;
  font-size: 2rem;
  padding-top: 20px;
  line-height: 1.5em;
}
hr{
  width: 70%;
  margin: auto;
  background-color: black;
}
.second-section{
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.circles{
  width: 50%;
  margin: auto;
  text-align: center;
  
}
.circles img{
  width: 80%;
}
.circles_text{
  width: 50%;
  
}
.circles_text p{
  padding: 30px;
}
.second-section p{
  width: 60%;
  margin: auto;
  font-size: 1.2rem;
  color: dimgrey;
}
.third-section{
  width: 100%;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}

.third-section img{
  width: 50%;
}
.fourth-section{
  width: 100%;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 20px;
}
.fourth-section video{
  width: 50%;
  height: auto;
}
.fifth-section{
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 30px;
  padding-top: 20px;
}
.fifth-section a{
  padding-bottom: 20px;
  font-size: 2em;
  text-decoration: none;
  color: dimgrey;
}.fifth-section i{
  font-size: 1.5rem;
}


footer{
  display: flex;
  justify-content: center;
  
  background-color: dimgray;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
  gap: 20px;
}
footer a{
  text-decoration: none;
  color: antiquewhite;
  padding-top: 10px;
  padding-bottom: 10px;
}
/*SEMINAR1*/
.first-section-seminar1{
  width: 100%;
  text-align: center;
  padding: 20px;
}
.first-section-seminar1 h1{
    font-size: 3em;
    color: dimgrey;
}
.first-section-seminar1 i{
  font-size: 2rem;
}
.second-section-seminar1{
  width: 50%;
  margin: auto;
  padding: 20px;
}
.second-section-seminar1 p{
  font-size: 1.5rem;
  line-height: 2em;
  color: dimgrey;
}
/*SEMINAR2*/
.first-section-seminar2{
  width: 100%;
  text-align: center;
  padding: 20px;
}
.first-section-seminar2 i{
  font-size: 2rem;
}
.first-section-seminar2 h1{
  font-size: 3em;
  color: dimgrey;
}
.second-section-seminar2{
  width: 50%;
  margin: auto;
  padding: 20px;
}

.second-section-seminar2 p{
  font-size: 1.5rem;
  line-height: 2em;
  color: dimgrey;
} 
/*TEAM SERVICE*/
.team_service{
  width: 100%;
  height: 100vw;
  text-align: center;
  background-color:beige;
}
/*POLITIK*/
.politic{
  width: 100%;
  height: 100vw;
  text-align: center;
  background-color:beige;
}
/*REPORT*/
.report{
  width: 100%;
  height: 100vw;
  text-align: center;
  background-color:beige;
}
/*ANMELDUNG-FORMULAR*/
.formular_title{
  width: 100%;
  text-align: center;
  font-size: 3em;
  color: dimgrey;
  margin-top: 30px;
}
.formular_title i{
  font-size: 2rem;
}
.container_form{
  width: 40%;
  margin: auto;
  padding: 10px;
  background-color: dimgray;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 5px;
}
.container_form form{
  margin-top: 20px;
  margin-bottom: 20px;
}
.container_form form div{
  width:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 10px;
}
.container_form form div input{
  padding: 10px;
  border-radius: 4px;
  border: none;
}
.container_form form div select{
  width: 100%;
  margin-bottom: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 4px;
}
.container_form form div label{
  color: white;
  font-size: 1.5rem;
}
form p{
  color: white;
}
.container_form form .checkbox{
  flex-direction: row;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 1rem;
  text-align: center;
}
#formular .checkbox label{
  font-size: 1em;
  text-align: center;
}
.container_form form .buttons{
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;
}
.container_form form .buttons button{
  width: 100px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 5px;
}
.echo{
  background-color: white;
  width: 100%;
  text-align: center;
  color:red;
}
small{
  text-align: center;
  color: rgb(244, 94, 94);
  visibility: hidden;
  font-size: 1em;
  margin: 0px;
}
/*.form-control.success input{
  border-color: #2ecc71;
}*/
.form-control.error input{
  border:3px solid red;
}
.form-control.error small{
  visibility: visible;
}

/*ESPONSIVE*/

@media (max-width:1000px) {
  
  .first-section{
    width: 100%;
  }
  .first-section-title{
    font-size: 1.8em;
  }
  .first-section p{
    font-size: 1.5em;
  }
  .first-section i{
    font-size: 1rem;
  }
  .second-section{
    flex-direction: column;
    width: 100%;
  }
  .circles{
    width: 100%;
  }
  .circles img{
    width: 90%;
  }
  .circles_text{
    width: 100%;
  }
  .circles_text p{
    width: 90%;
  }
   /*SEMINAR 1 RESPONSIVE*/
   .second-section-seminar1{
    width: 100%;
    text-align: center;
    
  }
   /*SEMINAR 2 RESPONSIVE*/
   .second-section-seminar2{
    width: 100%;
    text-align: center;
    
  }
}
@media  (max-width:900px) {
  .header-content{
    width: 100%;
    font-size: 0.8em;
  }
  .circles img{
    width: 50%;
  }
  /*SEMINAR 1 RESPONSIVE*/
  .second-section-seminar1{
    width: 100%;
    text-align: center;
    
  }
   /*SEMINAR 2 RESPONSIVE*/
   .second-section-seminar2{
    width: 100%;
    text-align: center; 
  }
  /*FORMULAR*/
  .container_form{
    width: 90%;
  }
}

@media (max-width:500px) {
  .circles img{
    width: 90%;
  }
  .third-section img{
    width: 90%;
  }
  .fourth-section video{
    width: 90%;
  }
  .third-section p{
    width: 80%;
    margin: auto;
  }
  footer{
    flex-direction: column;
    text-align: center;
  }

  /*SEMINAR 1 RESPONSIVE*/
  .second-section-seminar1 p{
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.05em;
  }

  /*SEMINAR 2 RESPONSIVE*/
  .second-section-seminar2 p{
    width: 100%;
    font-size: 1.4rem;
    line-height: 1.2em;
    letter-spacing: 0.05em;
  }
  /*FORMULAR*/
  .container_form{
    width: 100%;
  }
  
}


