<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Forum Wartegg</title>
  </head>
  <body>
    <header class="header">
        <div class="header-content">
            <h1 class="header-title">Forum Wartegg</h1>
            <p class="header-parrafo">zukunftsorientierte Bildung gestalten</p>
        </div>
    </header>
    <h1 class="formular_title"><i class="fa-solid fa-angles-left"></i>Anmeldung<i class="fa-solid fa-angles-right"></i></h1>
    <div class="container_form">
        <form action="#" method="POST" id="formular" name="formular">
            <!-- Select de tratamiento -->
            <div>
                <label for="anrede">Anrede</label>
                <select name="anrede" id="anrede">
                    <option value="keine">Wählen Sie eine Option aus</option>
                    <option value="herr">Herr</option>
                    <option value="frau">Frau</option>
                    <option value="divers">Divers</option>
                </select>
            </div>
            <div>
                <label for="titel">Titel</label>
                <select name="titel" id="titel">
                    <option value="keine">Wählen Sie einen Titel aus</option>
                    <option value="doktor">Doktor</option>
                    <option value="ingenieur">Ingenieur</option>
                    <option value="lizentiat">Lizentiat</option>
                    <option value="lizentiat">Sonstiges</option>
                </select>
            </div>    
            <div>
                <label for="vorname">Vorname *</label>
                <input type="text" id="vorname" name="vorname">
                <small>error</small>
            </div>  
            <div>
                <label for="nachname">Nachname *</label>
                <input type="text" id="nachname" name="nachname">
                <small>error</small>
            </div>
            <div>
                <label for="email">E-mail *</label>
                <input type="email" id="email" name="email">
                <small>error</small>
            </div>
            <div>
                <label for="confirm_email">E-mail wiederholen *</label>
                <input type="email" id="confirm_email" name="confirm_email">
                <small>error</small>
            </div>
            <div>
                <label for="firma">Firma</label>
                <input type="text" id="firma" name="firma">
            </div>
            <p>( * ) pflichtig.</p>
            <div class="checkbox">
                <input type="checkbox" id="politik" name="politik">
                <small></small>
                <label for="politik" id="label-politik">Ich habe die<a href="./privacy_politic.html"> "Datenschutz" </a> akzeptiert.</label>
            </div>
            <div class="buttons">
                <button type="submit" id="btn_senden">Senden</button>
                <button type="reset">Reset</button>
            </div>
           

        </form>
    </div>
    <hr>
    <div class="fifth-section">
      <a href="../index.html" rel="noopener" target="_self"><i class="fa-solid fa-angle-left"></i> Zum Home </a>
      <a href="seminar1.html" rel="noopener" target="_self"><i class="fa-solid fa-angle-left"></i> Zum Seminar 1</a>
      <a href="seminar2.html" rel="noopener" target="_self"><i class="fa-solid fa-angle-left"></i> Zum Seminar 2</i></a>
  </div>
    <footer>
      <a href="../views/team_service.html" rel="noopener" >Team of Service</a>
      <a href="../views/privacy_politic.html" rel="noopener">Privacy Politic</a>
      <a href="../views/report.html" rel="noopener">Report Abuse</a>
  </footer>
  <script src="../js/control_form.js"></script>
  </body>
</html>