<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="../assets/images/favicon.png" type="image/png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Forum Wartegg</title>
  </head>
  <body>
    <header class="header">
        <div class="header-content">
            <h1 class="header-title">Forum Wartegg</h1>
            <p class="header-parrafo">zukunftsorientierte Bildung gestalten</p>
        </div>
    </header>
    <h1 class="formular_title"><i class="fa-solid fa-angles-left"></i>Anmeldung<i class="fa-solid fa-angles-right"></i></h1>
    <div class="container_form">
        <form action="#" method="POST">
            <!-- Select de tratamiento -->
            <div>
                <label for="tratamiento">Tratamiento</label>
                <select name="tratamiento" id="tratamiento">
                    <option value="">Seleccione una opción</option>
                    <option value="senor">Señor</option>
                    <option value="senora">Señora</option>
                    <option value="diverso">Diverso</option>
                </select>
            </div>
            <div>
                <label for="titel">Titel</label>
                <select name="titel" id="titel">
                    <option value="">Wählen Sie einen Titel aus</option>
                    <option value="doctor">Doctor</option>
                    <option value="ingeniero">Ingeniero</option>
                    <option value="licenciado">Licenciado</option>
                </select>
            </div>    
            <div>
                <label for="vorname">Vorname</label>
                <input type="text" id="vorname" name="vorname">
            </div>  
            <div>
                <label for="nachname">Nachname</label>
                <input type="text" id="nachname" name="nachname">
            </div>
            <div>
                <label for="email">E-mail</label>
                <input type="email" id="email" name="email">
            </div>
            <div>
                <label for="confirm_email">E-mail wiederholen</label>
                <input type="email" id="confirm_email" name="confirm_email">
            </div>
            <div>
                <label for="firma">Firma</label>
                <input type="text" id="firma" name="firma">
            </div>
            <div class="checkbox">
                <input type="checkbox" id="politik" name="politik">
                <label for="politik">He leído y acepto la <a href="#">política de privacidad</a>.</label>
            </div>
            <div class="buttons">
                <button type="submit">Senden</button>
                <button type="reset">Reset</button>
            </div>

        </form>
    </div>
    <hr>
    <div class="fifth-section">
      <a href="../index.html" rel="noopener" target="_self"><i class="fa-solid fa-angle-left"></i> Zum Home </a>
      <a href="seminar1.html" rel="noopener" target="_self">Zum Seminar 1 <i class="fa-solid fa-angle-right"></i></a>
      <a href="seminar2.html" rel="noopener" target="_self">Zum Seminar 2 <i class="fa-solid fa-angle-right"></i></a>
  </div>
    <footer>
      <a href="../views/team_service.html" rel="noopener" >Team of Service</a>
      <a href="../views/privacy_politic.html" rel="noopener">Privacy Politic</a>
      <a href="../views/report.html" rel="noopener">Report Abuse</a>
  </footer>
  </body>
</html>