<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <title>Forum Wartegg</title>
  </head>
  <body>
    <header class="header">
        <div class="header-content">
            <h1 class="header-title">Forum Wartegg</h1>
            <p class="header-parrafo">zukunftsorientierte Bildung gestalten</p>
        </div>
    </header>
    <div class="first-section-seminar2">
      <h1><i class="fa-solid fa-angles-left"></i>Seminar 2<i class="fa-solid fa-angles-right"></i></h1>
    </div>
    <div class="second-section-seminar2">
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptate culpa possimus, assumenda ullam eos rerum reiciendis atque iusto quas. Delectus, doloremque itaque! Minus, nulla autem. Exercitationem mollitia eveniet iste
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia voluptate culpa possimus, assumenda ullam eos rerum reiciendis atque iusto quas. Delectus, doloremque itaque! Minus, nulla autem. Exercitationem mollitia eveniet iste
         
      </p>
    </div>
    <hr>
    <div class="fifth-section">
      <a href="../index.html" rel="noopener" target="_self"><i class="fa-solid fa-angle-left"></i> Zum Home </a>
      <a href="seminar1.html" rel="noopener" target="_self"><i class="fa-solid fa-angle-left"></i> Zum Seminar 1 </a>
      <a href="formular.html" rel="noopener" target="_self">Zur Anmeldung <i class="fa-solid fa-angle-right"></i></a>
  </div>
    <footer>
      <a href="../views/team_service.html" rel="noopener" >Team of Service</a>
      <a href="../views/privacy_politic.html" rel="noopener">Privacy Politic</a>
      <a href="../views/report.html" rel="noopener">Report Abuse</a>
  </footer>
  </body>
</html> 